<script>
  import { select } from "d3-selection";
  import { scaleLinear } from "d3-scale";
  import { onMount } from "svelte";
  import { max } from "d3-array";
  import { path } from "d3-path";

  // Size and margins
  const width = 800;
  const height = 600;
  const margin = { top: 0, right: 100, bottom: 0, left: 100 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Data constants
  const weeks = [48, 49, 50, 51];

  // DOM binding
  let svg;

  // Properties
  export let data = [];

  let maxElectricityGas = max(data, (d) =>
    Math.max(d.total_electrity, d.total_gas)
  );

  let yScale = scaleLinear().range([0, 50]).domain([0, maxElectricityGas]);
  let xScale = scaleLinear()
    .range([0, 100])
    .domain([0, 24 * 7]);

  onMount(async () => {
    weeks.forEach((week) => drawCanvas(week));
  });

  function drawCanvas(week) {
    let context = path();
    let x, y;

    const flip = week % 2 ? "-1" : "1";
    const shiftY = 380 - (week - 48) * 100;

    context.moveTo(0, 0);

    data
      .filter((d) => d.week == week)
      .forEach((d, i) => {
        x = xScale(((d.day - 1) % 7) * 24 + d.hour);
        y = yScale(d.total_electrity);
        context.lineTo(x, y);
      });
    context.lineTo(x, 0);
    context.lineTo(0, 0);
    context.closePath();

    select(svg)
      .append("path")
      .attr("d", context)
      .attr("stroke", "#0057b8")
      .attr("opacity", "0.9")
      .attr("fill", "#0057b8")
      .attr(
        "transform",
        "translate(400, " + shiftY + "), scale(" + flip + ", -1), rotate(25)"
      )
      .attr("data-week", week);

    context = path();
    context.moveTo(0, 0);

    data
      .filter((d) => d.week == week)
      .forEach((d, i) => {
        x = xScale(((d.day - 1) % 7) * 24 + d.hour);
        y = yScale(d.total_gas);
        context.lineTo(x, y);
      });
    context.lineTo(x, 0);
    context.lineTo(0, 0);
    context.closePath();

    select(svg)
      .append("path")
      .attr("d", context)
      .attr("stroke", "#ffab34")
      .attr("opacity", "1")
      .attr("fill", "#ffab34")
      .attr(
        "transform",
        "translate(400, " + shiftY + "), scale(" + flip + ", 1), rotate(-25)"
      )
      .attr("data-week", week);
  }
</script>

<svg {height} {width} bind:this={svg}>
  <line
    x1="400"
    y1="40"
    x2="400"
    y2="430"
    stroke="darkgreen"
    stroke-width="1"
    opacity="0.7"
  />
  <text
    x="400"
    y="500"
    text-anchor="middle"
    opacity="0.7"
    style="font: italic 22px sans-serif;font-weight:700"
    >Chicago</text
  >
  <text
    x="400"
    y="540"
    text-anchor="middle"
    opacity="0.7"
    style="font: italic 18px sans-serif;font-weight:700"
    >(December 2014)</text
  >
</svg>
