<script>
  import { select } from "d3-selection";
  import { scaleBand, scaleLinear } from "d3-scale";
  import { onMount, afterUpdate } from "svelte";
  import { axisBottom, axisLeft } from "d3-axis";
  import { max } from "d3-array";

  // Size and margins
  const width = 650;
  const height = 1000;
  const margin = { top: 20, right: 0, bottom: 70, left: 100 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Properties
  export let data = [];
  export let buildingTypes = [];
  export let scaling;

  let canvas;
  let maxHeatingEnergy;
  let thicknessScale; // Defined in the function to make it responsive
  let xScale = scaleLinear().range([0, innerWidth]).domain([0, 31]);
  let yScale = scaleBand().range([0, innerHeight]).domain(buildingTypes);
  const xAxis = axisBottom().scale(xScale);

  const yAxis = axisLeft()
    .scale(yScale)
    .tickFormat((bt) => bt.match(/[A-Z][a-z]+/g).join(" "));

  const addXAxis = function (element) {
    select(element)
      .call(xAxis)
      .append("text")
      .attr("transform", "translate(" + innerWidth / 2 + ", 50)")
      .style("text-anchor", "middle")
      .style("font-size", "15px")
      .style("fill", "black")
      .text("Day of the month");
  };

  const addYAxis = function (element) {
    select(element)
    .call(yAxis)
    .selectAll("text")	
        .style("text-anchor", "end")
        .attr("dx", "0px")
        .attr("dy", "-10px")
        .attr("transform", "rotate(-45)");
  };

  onMount(async () => {
    drawCanvas();
  });

  afterUpdate(() => {
    drawCanvas();
  });


  function drawCanvas() {
    const context = canvas.getContext("2d");
    context.clearRect(0, 0, canvas.width, canvas.height);

    maxHeatingEnergy = max(data, (d) => d.total_heating_energy);

    buildingTypes.forEach((bt, i) => {
      if (scaling == "across") {
        maxHeatingEnergy = max(data, (d) => d.total_heating_energy);
      } else {
        maxHeatingEnergy = max(data.filter((d) => d.buildingtype == bt), (d) => d.total_heating_energy);
      }
      thicknessScale = scaleLinear().range([0, 10]).domain([0, maxHeatingEnergy]);

      data
        .filter((d) => d.buildingtype == bt)
        .forEach((d, i) => {
          context.beginPath();
          context.rect(
            xScale(d.day - 1 + d.hour / 24),
            yScale(d.buildingtype) +
              38 -
              thicknessScale(d.total_heating_energy) / 2,
            1,
            thicknessScale(d.total_heating_energy)
          );
          context.fillStyle = "black";
          context.fill();
          context.closePath();
        });
    });
  }
</script>

<svg {height} {width} style="position:relative;left:-40px">
  <foreignObject x={margin.left} y={10} width={innerWidth} height={innerHeight}>
    <canvas bind:this={canvas} width={innerWidth} height={innerHeight} />
  </foreignObject>
  <g transform="translate({margin.left}, {margin.top})" use:addYAxis />
  <g
    transform="translate({margin.left}, {innerHeight + margin.top})"
    use:addXAxis
  />
</svg>
