<svelte:options accessors />

<script>
  // Properties

  const cities = ["Baltimore", "Chicago", "Los Angeles"];
  const scalingOptions = ["across", "per-line"];
  const scalingOptionTexts = ["Across all lines", "Per line"];

  export let controlValues = { city: "Los Angeles", scaling: "across" };
</script>

<div class="row mt-4">
  <div class="col-4 offset-2">
    <strong>Location:</strong>
    <br /><br />
    {#each cities as city, i}
    <label>
      <input
        type="radio"
        name="city"
        bind:group={controlValues["city"]}
        value={city}
      />
      {city}
    </label><br />
    {/each}
  </div>
  <div class="col-4">
    <strong>Scaling:</strong>
    <br /><br />

    {#each scalingOptions as scalingOption, i}
      <label>
        <input
          type="radio"
          name="scaling"
          bind:group={controlValues["scaling"]}
          value={scalingOption}
        />
        {scalingOptionTexts[i]}
      </label><br />
    {/each}
  </div>
</div>

<style>
</style>
