<script>
  import { select } from "d3-selection";
  import { scaleLinear } from "d3-scale";
  import { onMount } from "svelte";
  import { max } from "d3-array";
  import { path } from "d3-path";

  // Size and margins
  const width = 800;
  const height = 300;
  const margin = { top: 0, right: 100, bottom: 0, left: 100 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Data constants
  const cities = ["Chicago", "Baltimore", "Los Angeles"];

  // Properties
  export let data = [];

  let maxHeatingCooling = max(data, (d) => Math.max(d.heating, d.cooling));

  let rScale = scaleLinear().range([0, 70]).domain([0, maxHeatingCooling]);

  onMount(async () => {
    drawCanvas();
  });

  function drawCanvas(node, city) {
    let context = path();

    context.moveTo(0, 0);

    data
      .filter((d) => d.city == city)
      .forEach((d, i) => {
        const radius = rScale(d.heating);

        context.lineTo(
          Math.cos((d.day_of_year / 365) * Math.PI * 2) * radius,
          Math.sin((d.day_of_year / 365) * Math.PI * 2) * radius
        );
      });
    context.closePath();

    select(node)
      .append("path")
      .attr("d", context)
      .attr("stroke", "red")
      .attr("opacity", 0.35)
      .attr("fill", "red");

    context = path();
    context.moveTo(0, 0);

    data
      .filter((d) => d.city == city)
      .forEach((d, i) => {
        const radius = rScale(d.cooling);

        context.lineTo(
          Math.cos((d.day_of_year / 365) * Math.PI * 2) * radius,
          Math.sin((d.day_of_year / 365) * Math.PI * 2) * radius
        );
      });
    context.closePath();

    select(node)
      .append("path")
      .attr("d", context)
      .attr("stroke", "#000011")
      .attr("opacity", 0.35)
      .attr("fill", "#000033");
  }
</script>

<svg {height} {width}>
  <g transform="translate(150, 140)" use:drawCanvas={"Baltimore"}>
    <circle
      cx="0"
      cy="0"
      r="90"
      stroke="black"
      stroke-width="1"
      stroke-opacity="0.7"
      fill-opacity="0"
    />
    <line
      x1="-90"
      y1="0"
      x2="90"
      y2="0"
      stroke="black"
      stroke-width="1"
      opacity="0.7"
    />
    <line
      x1="0"
      y1="-90"
      x2="0"
      y2="90"
      stroke="black"
      stroke-width="1"
      opacity="0.7"
    />
    <text
      x="0"
      y="-120"
      text-anchor="middle"
      opacity="0.7"
      style="font: italic 13px sans-serif;text-transform:uppercase"
      >Chicago</text
    >
    <text x="0" y="-100" text-anchor="middle" opacity="0.7">0</text>
    <text x="0" y="110" text-anchor="middle" opacity="0.7">6</text>
    <text x="100" y="5" text-anchor="middle" opacity="0.7">3</text>
    <text x="-100" y="5" text-anchor="middle" opacity="0.7">9</text>
  </g>
  <g transform="translate(400, 140)" use:drawCanvas={"Chicago"}>
    <circle
      cx="0"
      cy="0"
      r="90"
      stroke="black"
      stroke-width="1"
      stroke-opacity="0.7"
      fill-opacity="0"
    />
    <line
      x1="-90"
      y1="0"
      x2="90"
      y2="0"
      stroke="black"
      stroke-width="1"
      opacity="0.7"
    />
    <line
      x1="0"
      y1="-90"
      x2="0"
      y2="90"
      stroke="black"
      stroke-width="1"
      opacity="0.7"
    />

    <text
      x="0"
      y="-120"
      text-anchor="middle"
      opacity="0.7"
      style="font: italic 13px sans-serif;text-transform:uppercase"
      >Baltimore</text
    >
    <text x="0" y="-100" text-anchor="middle" opacity="0.7">0</text>
    <text x="0" y="110" text-anchor="middle" opacity="0.7">6</text>
    <text x="100" y="5" text-anchor="middle" opacity="0.7">3</text>
    <text x="-100" y="5" text-anchor="middle" opacity="0.7">9</text>
  </g>
  <g transform="translate(650, 140)" use:drawCanvas={"Los Angeles"}>
    <circle
      cx="0"
      cy="0"
      r="90"
      stroke="black"
      stroke-width="1"
      stroke-opacity="0.7"
      fill-opacity="0"
    />
    <line
      x1="-90"
      y1="0"
      x2="90"
      y2="0"
      stroke="black"
      stroke-width="1"
      opacity="0.7"
    />
    <line
      x1="0"
      y1="-90"
      x2="0"
      y2="90"
      stroke="black"
      stroke-width="1"
      opacity="0.7"
    />
    <text
      x="0"
      y="-120"
      text-anchor="middle"
      opacity="0.7"
      style="font: italic 13px sans-serif;text-transform:uppercase"
      >Los Angeles</text
    >
    <text x="0" y="-100" text-anchor="middle" opacity="0.7">0</text>
    <text x="0" y="110" text-anchor="middle" opacity="0.7">6</text>
    <text x="100" y="5" text-anchor="middle" opacity="0.7">3</text>
    <text x="-100" y="5" text-anchor="middle" opacity="0.7">9</text>
  </g>
</svg>
