<script>
  import { onMount } from "svelte";
  import { json } from "d3-fetch";

  import Plot from "./_design_2_plot.svelte";


  let data = null;

  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  let buildingTypes = [];

  onMount(async () => {
    data = await json("data/daily_heating_cooling.json").then((data) => {
      return data;
    });
  });


</script>

<div>
  {#if !data}
    <p>Loading the data, please wait...</p>
  {:else}
    <br />
    <div id="container">
      <Plot bind:data={data} />
    </div>
  {/if}
</div>

<style>
  #container {
    border-radius: 5px;
    padding: 20px;
    display: flex;    
  }
</style>
