<script>
  import { onMount } from "svelte";
  import { json } from "d3-fetch";

  import Controls from "./_design_1_controls.svelte";
  import Plot from "./_design_1_plot.svelte";

  export let controlValues = { city: "Baltimore", scaling: "across" };
  let data = null;
  let filteredData = null;
  let city = "Chicago";

  // Size and margins
  const width = 600;
  const height = 1000;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  let buildingTypes = [];

  const filterData = (data, city) => {
    if (!data) return;
    return data.filter((d) => d.city == city);
  };

  onMount(async () => {
    data = await json("data/hourly_heating_december.json").then((data) => {
      buildingTypes = [...new Set(data.map((d) => d.buildingtype))];
      return data;
    });
  });

  $: city = controlValues["city"];
  $: scaling = controlValues["scaling"]
  $: filteredData = filterData(data, city);
</script>

<div>
  {#if !filteredData}
    <p>Loading the data, please wait...</p>
  {:else}
    <Controls bind:controlValues />
    <br />
    <div id="container">
      <Plot {scaling} {buildingTypes} bind:data={filteredData} />
    </div>
  {/if}
</div>

<style>
  #container {
    border-radius: 5px;
    padding: 20px;
    display: flex;    
  }
</style>
