<script>
  let current = "";
</script>

<style>
  .myClassName {
    background-color: teal;
  }

</style>

<!-- We will cover buttons in week 7! -->
<button class="btn btn-secondary" class:myClassName={current == "messi"} on:click={() => (current = "messi")}>
  Messi
</button>

<button class="btn btn-secondary" class:myClassName={current == "ronaldo"} on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class="btn btn-secondary" class:myClassName={current == "neymar"} on:click={() => (current = "neymar")}>
  Neymar
</button>
