<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p>The first message!</p>
    </div>
    <div class="col-12">
      <p>The second message!</p>
    </div>
  </div>
</div>
