<script>
 const radius = 5;
 //anonymous function
 const circumference = ((radius) =>  2 * Math.PI * radius)(radius);
</script>
<p>
    The circumference of a circle with radius {radius}m is {circumference}m .
</p>
