<script>
  import Ex_2 from "./ex_2.svelte";
  import Ex_3 from "./ex_3.svelte";
</script>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <Ex_3 />
    </div>
    <div class="col-12">
      <Ex_2 />
    </div>
  </div>
</div>
