<script>
  import { extent } from "d3-array";
  import { select, selectAll } from "d3-selection";
  import { scaleLinear } from "d3-scale";
  import { axisBottom, axisLeft } from "d3-axis";
  import { brush } from "d3-brush";

  // Properties
  export let data = [];
  export let x = (d) => d.x;
  export let y = (d) => d.y;
  export let xLabel = "x";
  export let yLabel = "y";
  export let localSelection = null;
  export let externalSelection = null;

  // Dimensions
  const width = 400;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 35, left: 45 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Scales
  const xScale = scaleLinear().domain(extent(data, x)).range([0, innerWidth]);
  const yScale = scaleLinear().domain(extent(data, y)).range([innerHeight, 0]);

  // Axes
  const xAxis = (node) => axisBottom(xScale)(select(node));
  const yAxis = (node) => axisLeft(yScale)(select(node));

  // Brushing
  // The range of the selection rectangle.
  // If there is no active selection, it contains: null,
  // otherwise, it contains: [ [x0, y0], [x1, y1] ]
  let range = null;
  let dots = null;
  let coords = null;
  let highlighted = new Array(data.length).fill(true);

  // Listen to changes in the external selection
  $: if (dots) {
    if (externalSelection && localSelection) {
      highlighted = localSelection.map(
        (d, i) => localSelection[i] && externalSelection[i]
      );
    } else if (externalSelection) {
      highlighted = externalSelection;
    } else if (localSelection) {
      highlighted = localSelection;
    } else {
      highlighted = new Array(data.length).fill(true);
    }
    dots
      .style("stroke", "darkgray")
      .style("fill-opacity", 0.3)
      .filter((d, i) => highlighted[i])
      .style("stroke", "steelblue")
      .style("fill-opacity", 1.0);
  }

  const svgSetup = function (node) {
    coords = data.map((d) => {
      return { x: xScale(x(d)), y: yScale(y(d)) };
    });

    dots = select(node.firstChild)
      .append("g")
      .attr("fill", "none")
      .attr("stroke", "steelblue")
      .attr("stroke-width", 1.5)
      .attr("fill-opacity", 1.0)
      .attr("stroke-width", 1.5)
      .attr("stroke-opacity", 1)
      .selectAll("circle")
      .data(coords)
      .join("circle")
      .attr("cx", (d) => d.x)
      .attr("cy", (d) => d.y)
      .attr("r", 3);
    select(node.firstChild).call(brush().on("start brush end", brushing));
  };

  const brushing = function ({ selection }) {
    range = selection;
    if (selection) {
      const [[x0, y0], [x1, y1]] = selection;
      localSelection = coords.map(
        (d) => x0 <= d.x && d.x < x1 && y0 <= d.y && d.y < y1
      );
      if (externalSelection) {
        highlighted = localSelection.map(
          (d, i) => localSelection[i] && externalSelection[i]
        );
      } else {
        highlighted = localSelection;
      }
    } else {
      localSelection = null;
      range = null;
      highlighted = new Array(data.length).fill(true);
    }

    dots
      .style("stroke", "darkgray")
      .style("fill-opacity", 0.3)
      .filter((d, i) => highlighted[i])
      .style("stroke", "steelblue")
      .style("fill-opacity", 1.0);
  };
</script>

<svg
  viewBox="0 0 {width} {height}"
  class="mx-2"
  style="max-width: {width}px"
  use:svgSetup
>
  <g transform="translate({margin.left},{margin.top})">
    <g use:xAxis transform="translate(0, {innerHeight})">
      <text class="axisLabel" x={innerWidth / 2} y={margin.bottom - 5}
        >{xLabel}</text
      >
    </g>
    <g use:yAxis>
      <text
        class="axisLabel"
        y={-margin.left + 10}
        x={-innerHeight / 2}
        transform="rotate(-90)">{yLabel}</text
      >
    </g>
  </g>
</svg>

<style>
  .axisLabel {
    text-anchor: middle;
    vertical-align: bottom;
    fill: currentcolor;
  }
</style>
