<script>
  // Properties
  const continents = ["all", "europe", "asia", "americas", "africa"];
  export let controlValues = {year: 1800, continent: "", animationState: 1, reset: 0};
</script>
<svelte:options accessors />



<div class="col-6">
  <button class="btn btn-primary my-3 me-2" style="min-width:100px" on:click={controlValues['animationState'] = controlValues['animationState']?0:1}>
    {controlValues['animationState']?"Pause":"Play"}
  </button>
  <button class="btn btn-danger my-3" style="min-width:100px" on:click={controlValues['reset'] = 1}>
    Reset
  </button>
  <select class="form-select" bind:value={controlValues['continent']}>
    <option value="" selected disabled>Select a continent</option>
    {#each continents as continent, i}
      <option value="{continent}">{continent.charAt(0).toUpperCase() + continent.substring(1)}</option>
    {/each}
  </select>
  </div>
  <div class="col-12">
  <div id="gapminder-slider-container">
    <input type="range" min="1800" max="2014" bind:value={controlValues['year']} class="slider" id="gapminder-slider">
  </div>
  
</div>

<style>

#gapminder-slider-container {
  bottom: 5px;
  width: 600px;
  margin: auto;
}

#gapminder-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  margin: 40px 0;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#gapminder-slider:hover {
  opacity: 1;
}

#gapminder-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #0f2e57;
  cursor: pointer;
}

#gapminder-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #0f2e57;
  cursor: pointer;
}
</style>