<script>
    let accumulator = 0;
	function addOneClick() {
        accumulator++;
		this.innerHTML = "You clicked on me " + accumulator + " times!";
	}

    function resetAccumulator() {
        accumulator = 0;
        document.querySelector('#accumulator-button').innerHTML = "Click on me!";
	}
</script>

<button class="btn btn-primary m-3" id="accumulator-button" on:click={addOneClick}>
	Click on me!
</button>

<button class="btn btn-danger m-3" on:click={resetAccumulator}>
	Reset!
</button>