<script>
  import { onMount } from 'svelte';


  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;

  // Color
  let color = "darkred";
  
  let countdown;

  const turnGreen = (index) => {if (index == 0) {clearInterval(countdown); color = "green";}};

  $: turnGreen(index);

  onMount(async () => {
      countdown = setInterval(() => index--, 1000)
  });
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each points as point, i}
      {#if i >= index}
        <circle cx="{point}" cy="40" r="10" fill="{color}" style="opacity: 1.0" />
      {:else}
        <circle cx="{point}" cy="40" r="10" fill="{color}" style="opacity: 0.3" />
      {/if}
    {/each}
  </g>
</svg>
