<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  let filteredData = null;

  // Control variables
  let yearIndex = 0;
  let year = 1800;
  let continent = null;
  let controlValues = { year: 1800, continent: "", animationState: 1, reset: 0};
  $: year = controlValues["year"];
  $: continent = controlValues["continent"];
  $: animationState = controlValues["animationState"];


  // Data filtering
  const filterData = (data, yearIndex, continent) => {
    if (!data) return;
    if (continent && continent != 'all') {
      return data[yearIndex]["countries"].filter(d => d.continent == continent);
    } else {
      return data[yearIndex]["countries"];
    }
  }

  $: filteredData = filterData(data, yearIndex, continent);

  let animation = null;

  onMount(async () => {
    data = await json("/data/gapminder.json");
    animation = setInterval(() => {
      if (controlValues["reset"] == 1) {
        controlValues["year"] = 1800;
        controlValues["continent"] = "";
        controlValues["reset"] = 0;
        controlValues["animationState"] = 0;
      } else {
        yearIndex = controlValues["year"] - 1800;
        yearIndex = (yearIndex + animationState) % (2014 - 1800 + 1);
        controlValues["year"] = yearIndex + 1800;
      }
    }, 300);
  });
</script>

<div class="row">
  <div class="col-12">
    {#if !filteredData}
      <p>Loading the data, please wait...</p>
    {:else}
      <Scatterplot {year} {continent} data={filteredData}/>
      <Controls bind:controlValues />
    {/if}
  </div>
</div>
