<script>

  import { scaleLinear, scaleOrdinal, scalePow } from "d3-scale";
  import { axisBottom, axisLeft } from "d3-axis";
  import { max } from "d3-array";
  import { select } from "d3-selection";

  export let data;
  export let year;
  export let loading;

  let xScale = () => void 0;
  let yScale = () => void 0;
  let radiusScale = () => void 0;
  let colorScale = () => void 0;
  let xAxis = () => void 0;
  let yAxis = () => void 0;
  let xAxisContainer;
  let yAxisContainer;

  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;



  $: xDomain = data ? [0, max(data, (datum) => +datum.income)]:[];
  $: yDomain = data ? [0, max(data, (datum) => +datum.life_exp)]: [];
  $: radiusDomain = data ? [0, max(data, (datum) => +datum.population)]:[];
  $: data = data ? data:[];
  
  // Scales
  $: xScale = scaleLinear()
  .domain(xDomain)
  .range([0, innerWidth]);

  $: yScale = scaleLinear()
    .domain(yDomain)
    .range([innerHeight, 0]);

  $: radiusScale = scalePow()
    .exponent(0.5)
    .domain(radiusDomain)
    .range([0, 30]);

  $: colorScale = scaleOrdinal()
    .domain(["asia", "americas", "europe", "africa"])
    .range(["#F15772", "#7EEB03", "#FBE700", "#54D5E9"]);


  // Axis
  $: xAxis = axisBottom().scale(xScale);

  $: yAxis = axisLeft().scale(yScale);

  $: {
    select(xAxisContainer)
      .call(xAxis)
      .append("text")
      .attr("transform", "translate(" + width / 2 + ", 30)")
      .style("text-anchor", "middle")
      .style("font-size", "15px")
      .style("fill", "black")
      .text("Income");
  };

  $: {
    select(yAxisContainer)
      .call(yAxis)
      .append("text")
      .attr(
        "transform",
        "translate(-30, " + (height * 0.8) / 2 + "), rotate(270)"
      )
      .style("text-anchor", "middle")
      .style("font-size", "15px")
      .style("fill", "black")
      .text("Life expectancy");
  };
</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left} {margin.top})" style="opacity:{loading}.0">
    <text x="10" y="200" style="font-size:150px;opacity:0.1">Loading...</text>
  </g>
  <g transform="translate({margin.left} {margin.top})" style="opacity:{1-loading}.0">
    <text x="10" y="200" style="font-size:220px;opacity:0.1">{year}</text>
    <image href="/img/world_colors.png" x={innerWidth - 200} y={innerHeight - 110} height="100" width="200" style="outline: 1px solid black"/>

    {#each data as datum}
      {#if datum.life_exp && datum.income}
      <g
        transform="translate({xScale(datum.income)}, {yScale(datum.life_exp)})"
      >
        <circle
          cx="0"
          cy="0"
          r={radiusScale(datum.population)}
          fill={colorScale(datum.continent)}
          country="{datum.country}"
          life-exp="{datum.life_exp}"
          continent="{datum.continent}"
          income="{datum.income}"
          stroke="black"
        />
        <title>{datum.country}</title>
      </g>
      {/if}
    {/each}
    <g transform="translate(0, {innerHeight})" bind:this={xAxisContainer} />
    <g transform="translate(0, 0)" bind:this={yAxisContainer} />
  </g>
</svg>