<script>
  import { scaleLog } from 'd3-scale';
  import { axisTop } from 'd3-axis';
  import { select } from 'd3-selection';

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  // Array
  const values = [2, 4, 6, 7, 9];

  // Color
  const currentcolor = "black";

  const scale = scaleLog()
  .domain([2, 9])
  .range([20, width - 20]);


  const xAxis = axisTop()
                   .scale(scale);

  const addAxis = function(element) {
    select(element).call(xAxis).append("text")
      .attr("transform",
            "translate(" + (width/2) + ", 20)")
      .style("text-anchor", "middle")
      .style("font-size", "15px")
      .style("fill", currentcolor)
      .text("x-axis");
  }
</script>

<svg viewBox="0 0 {width} {height}">

  <g transform="translate({margin.left},{margin.top})">
    {#each values as value}
      <circle cx="{scale(value)}" cy="25" r="10" fill="red" />
    {/each}
    </g>
  <g transform="translate(5, 65)" use:addAxis></g>
</svg>
