<script>
import { scaleLinear, scaleOrdinal } from "d3-scale";
import { schemeDark2 } from  "d3-scale-chromatic";
import { extent } from "d3-array";

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  const categories = extent(values, value => value.category);

  const scaleX = scaleLinear()
  .domain([0, 10])
  .range([0, innerWidth]);

  const scaleY = scaleLinear()
  .domain([0, 4])
  .range([0, innerHeight]);

  const scaleCategory = scaleOrdinal()
  .range(schemeDark2)
  .domain(categories);


</script>


<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as value}
    <g transform="translate({scaleX(value.x)}, {scaleY(value.y)})">
      <line x1="0" y1="{innerHeight - scaleY(value.y)}" x2="0" y2="0"></line>
      <circle r="10" fill="{scaleCategory(value.category)}" />
      <text transform="translate(0 ,-20)" class="valueLabel" style="fill: black;">{value.y}</text>
    </g>
    {/each}
    </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }

  line {
    stroke: #999999; 
    stroke-width:2
  }
</style>
