<script>
  import { scaleLinear, scaleBand, scaleOrdinal } from "d3-scale";
  import { schemeDark2 } from  "d3-scale-chromatic";
  import { axisBottom, axisLeft } from "d3-axis";
  import { select } from "d3-selection";
  import { max } from "d3-array";

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 50, right: 10, bottom: 50, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

    // Color
    const currentcolor = "black";


  const xScale = scaleBand()
    .domain(data.map((d) => d.service))
    .range([0, innerWidth]);

  const yScale = scaleLinear()
    .domain([0, max(data, (d) => d.viewers) + 0.5])
    .range([innerHeight, 0]);

  const serviceScale = scaleOrdinal().range(schemeDark2).domain(data.map((d) => d.service));

  const xAxis = axisBottom().scale(xScale);

  const yAxis = axisLeft().scale(yScale);

  const addXAxis = function (element) {
    select(element)
      .call(xAxis)
      .append("text")
      .attr("transform", "translate(" + width / 2 + ", 30)")
      .style("text-anchor", "middle")
      .style("font-size", "15px")
      .style("fill", "black")
      .text("VOD Services");
  };

  const addYAxis = function (element) {
    select(element)
      .call(yAxis)
      .append("text")
      .attr("transform", "translate(-30, " + (height * 0.8) / 2 + "), rotate(270)")
      .style("text-anchor", "middle")
      .style("font-size", "15px")
      .style("fill", "black")
      .text("Viewers");
  };

</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    {#each data as datum}
      <g
        transform="translate({xScale(datum.service) + 25}, {yScale(datum.viewers)})"
      >
        <rect height="{innerHeight - yScale(datum.viewers)}" width="40" fill="{serviceScale(datum.service)}" />
      </g>
    {/each}
    <g transform="translate(0, {innerHeight})" use:addXAxis />
    <g transform="translate(0, 0)" use:addYAxis />
  </g>
</svg>