<script>
  import Ex_7_scatterplot from "./_ex_7_scatterplot.svelte";
  import { json } from "d3-fetch";
  import { onMount } from 'svelte';

  let dataset = null;
  let data = null;
  let loading = 1;
  let year = 1800;
  
  $: if (dataset) {
      data = dataset.filter(el => el.year == year)[0].countries.sort((a, b) => b.population - a.population);
      loading = 0;
  }
  let options = [...Array(2015 - 1800).keys()].map(i => i + 1800);
;

  onMount(async () => {
    dataset = await json("/data/gapminder.json").then((dataset) => {
      return dataset;
    });
  });
</script>

<div class="w-100 position-absolute mt-2"><h1 class="text-center h5">Hans Rosling's Gapminder</h1></div>


<Ex_7_scatterplot data={data} year={year} loading={loading}/>

<div id="gapminder-slider-container">
    <input type="range" min="1880" max="2014" bind:value={year} class="slider" id="gapminder-slider">
</div>

<style>

#gapminder-slider-container {
    bottom: 5px;
    position: absolute;
    width: 600px;
    margin: auto;
}

#gapminder-slider {
    -webkit-appearance: none;
    width: 100%;
    margin-left: 20px;
    margin-right:40px;
    height: 7px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#gapminder-slider:hover {
    opacity: 1;
}

#gapminder-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #0f2e57;
    cursor: pointer;
}

#gapminder-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #0f2e57;
    cursor: pointer;
}
</style>
